

.circle{

width:199px;
height:190px;
border-radius:100%;
position:absolute;
top:43%;
left:42.5%;
background-color:black;
text-align:center;
opacity:.75;
}

#controls{
	margin-top:9px;
}

#controls button{
	text-align:center;
	background-color:white;
	padding:8px;
	margin:2px 8px 7px 6px;
	border:1px solid black;
	font-size:18px;
	width:80px;
	
}



#start{
outline:none;
	background-color:white;
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	margin-top:76px;
	text-align:center;
	padding:8px;
	border:1px solid black;
	font-size:18px;
	width:197px;
	border-radius:10px;
}

#l{
	border-radius:10px  65% 70% 10px;
}

#r{
	border-radius:65% 10px  10px 70%;
}

#t{
	border-radius:10px  10px 65% 70% ;
}

#b{
	border-radius:65% 70% 10px  10px;
}


.circle button:active{

	text-decoration:none;
	outline:none;
	background-color:gray;
		-webkit-transform:scale(1.1);
		-moz-transform:scale(1.1);
}
.circle button:focus{

	text-decoration:none;
		outline:none;

}



